<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>boss3_16.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_17.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>482</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_18.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>370</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_19.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>482</integer>
				<key>y</key>
				<integer>370</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_20.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>964</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_21.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>964</integer>
				<key>y</key>
				<integer>370</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_22.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>1446</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_23.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>1446</integer>
				<key>y</key>
				<integer>370</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_24.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>740</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_25.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1110</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_10.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>482</integer>
				<key>y</key>
				<integer>740</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_11.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1480</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_12.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>482</integer>
				<key>y</key>
				<integer>1110</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_13.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>964</integer>
				<key>y</key>
				<integer>740</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_14.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>482</integer>
				<key>y</key>
				<integer>1480</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_15.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>964</integer>
				<key>y</key>
				<integer>1110</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_4.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>1446</integer>
				<key>y</key>
				<integer>740</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_5.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>964</integer>
				<key>y</key>
				<integer>1480</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_6.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>1446</integer>
				<key>y</key>
				<integer>1110</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>boss3_7.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>1446</integer>
				<key>y</key>
				<integer>1480</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>boss30.png</string>
			<key>realTextureFileName</key>
			<string>boss30.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>